.clock {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  font-size: 2.4em;
  color: #444;
  text-align: center;
}

.clock::after {
  background: #aaa;
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
}

.hour_hand {
  position: absolute;
  width: 0.6rem;
  height: 6rem;
  background: #222;
  top: 30%;
  left: 49%;
  transform-origin: bottom;
}

.min_hand {
  position: absolute;
  width: 0.4rem;
  height: 8rem;
  background: #444;
  top: 22.5%;
  left: 49%;
  transform-origin: bottom;
}

.sec_hand {
  position: absolute;
  width: 0.2rem;
  height: 11.8rem;
  background: red;
  top: 10.5%;
  left: 50%;
  transform-origin: bottom;
}

.clock span {
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.twelve {
  top: 1rem;
  left: 46%;
}

.one {
  top: 10%;
  right: 26%;
}

.eleven {
  top: 10%;
  left: 26%;
}

.two {
  top: 25%;
  right: 10%;
}

.three {
  right: 1rem;
  top: 46%;
}

.four {
  right: 3rem;
  top: 67%;
}

.five {
  right: 7.4rem;
  top: 82%;
}

.six {
  bottom: 1rem;
  left: 48%;
}

.seven {
  left: 8rem;
  top: 82%;
}

.eight {
  left: 3rem;
  top: 67%;
}

.nine {
  left: 1rem;
  top: 46%;
}

.ten {
  top: 25%;
  left: 10%;
}
