.clock:hover + .tooltip {
    display: block;
}

.tooltip {
    background-color: #FFFFFF;
    display: none;
    padding: 1rem;
    position: absolute;
    z-index: 1000;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-size: 1.5em;
}